extends layout.pug
block content
	.welcome-text
		if messages.registerMsg
			h1= messages.registerMsg
		else if messages.welcomeBackMsg
			//- careful about flash messages. They go away when page refreshes...
			h1 #{messages.welcomeBackMsg} #{session.passport.user.firstName}
			//- This would be more permanent
			//- h1 Welcome back, #{session.passport.user.first_name}
	h2 Latest Products:
	table(class="table")
		thead
			tr
				th(scope="col") Title
				th(scope="col") Price
				th(scope="col") Description
				th(scope="col")
				th(scope="col") Action
		tbody
			if latestProducts
				each product in latestProducts
					- let sales = product.productCount
					- let remaining = product.quantity - sales
					tr
						td
							a(href=`/products/${product.id}`) #{product.title}
						td $#{Number.parseFloat(product.price).toFixed(2)}
						td #{product.description}
						if remaining === 0
							td(class="text-danger") Sold Out
							td
								a(class="btn btn-primary" href=`/products/${product.id}`) View
						else
							if(remaining > 0 && remaining < 5)
								td only #{remaining} left
							else
								td #{remaining} available
							td
								form(action=`/cart/add-product/${product.id}`, method="POST")
									button(type="submit" class="btn btn-primary") Add to Cart

